<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Даскало</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Daskalo.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="_NavPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @(DateTime.Now.Year) - Даскало - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if(TempData[MessageSuccess] != null)
    {
        <partial name="_ToastSuccessPartial" model="@TempData[MessageSuccess]" />
    }
    else if(TempData[MessageError] != null)
    {
        <partial name="_ToastErrorPartial" model="@TempData[MessageError]" />
    }
    else if (TempData[MessageInfo] != null)
    {
        <partial name="_ToastInfoPartial" model="@TempData[MessageInfo]" />
    }
    else if (TempData[MessageWarning] != null)
    {
        <partial name="_ToastWarningPartial" model="@TempData[MessageWarning]" />
    }

</body>
</html>
